@import './modal.css';

#categorias {
  background-color: rgba(8, 102, 59, 0.47);
  border-left-color: black;
}

#categorias a {
  color: #fff;
}

main header {
  grid-template-columns: 10% 1fr;
}

main header h1 {
  justify-self: center;
  padding-right: 10vw;
}

main .content {
  height: 90%;
  margin-top: 1%;
}

main .content .conteudo-cadastro {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  align-items: center;
}

main .content .conteudo-cadastro label {
  font-size: 22px;
  margin-bottom: 2%;
}

main .content .conteudo-cadastro input {
  width: 80%;
  border: none;
  outline: none;
  border-radius: 6px;
  color: var(--branco);
  background-color: var(--cinza-escuro);
  font-size: 18px;
  padding: 5px;
  padding-left: 10px;
}

main .content .botoes {
  display: flex;
  width: 70%;
  margin: 0 15%;
  justify-content: space-evenly;
}

main .content .botoes button {
  width: 45%;
  padding: 1% 0;
}
