@import './modal.css';

#produtos {
  background-color: rgba(8, 102, 59, 0.47);
  border-left-color: black;
}

#produtos a {
  color: #fff;
}

main header {
  grid-template-columns: 10% 1fr;
}

main header h1 {
  justify-self: center;
  padding-right: 10vw;
}

main .content {
  height: 90%;
  margin-top: 1%;
}

main .content .conteudo-cadastro {
  display: grid;
  width: 90%;
  height: 60%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 2.5% 5%;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(3, 12%, 20%);
  column-gap: 15px;
  grid-template-areas:
  'label1 label1'
  'nome nome'
  'label2 label3'
  'unidade valor-venda'
  'label4 label5'
  'codigo-barras categoria';
}

#nome {
  grid-area: nome;
}

#unidade {
  grid-area: unidade;
}

#valor_venda {
  grid-area: valor-venda;
}

#codigo_barras {
  grid-area: codigo-barras;
}

#categoria {
  grid-area: categoria;
}

.label1 {
  grid-area: label1;
}
.label2 {
  grid-area: label2;
}
.label3 {
  grid-area: label3;
}
.label4 {
  grid-area: label4;
}
.label5 {
  grid-area: label5;
}

main .content .conteudo-cadastro label {
  font-size: 22px;
  text-align: center;
}

main .content .conteudo-cadastro input, main .content .conteudo-cadastro select {
  width: 80%;
  height: 70%;
  border: none;
  outline: none;
  border-radius: 6px;
  color: var(--branco);
  background-color: var(--cinza-escuro);
  font-size: 18px;
  padding: 5px;
  padding-left: 10px;
  margin-left: 10%;
}

main .content .conteudo-cadastro select {
  grid-area: select;
}

main .content .botoes {
  display: flex;
  width: 90%;
  margin: 0 5%;
  justify-content: space-evenly;
}

main .content .botoes button {
  width: 45%;
  padding: 1% 0;
}
