@import "./modal.css";

#vendas {
  background-color: rgba(8, 102, 59, 0.47);
  border-left-color: black;
}

#vendas a {
  color: #fff;
}

main header {
  grid-template-columns: 10% 1fr;
}

main header h1 {
  justify-self: center;
  padding-right: 10vw;
}

main .content {
  height: 90%;
  margin-top: 1%;
}

button {
  cursor: pointer;
}

main .content form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

form .buttons-modal {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  height: 3vw;
}

.abrir-modal {
  display: flex;
  color: var(--branco);
  background-color: var(--cinza-claro);
  font-size: 1vw;
  border-radius: 6px;
  border: none;
  height: 2vw;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  width: 20%;
}

form .abrir-modal svg {
  height: 1vw;
}

.modal.produtos div:nth-child(1) {
  width: 75%;
  height: 75%;
  margin: 6.25% 12.5%;
}

.modal div label {
  grid-area: texto;
  width: 95%;
  text-align: center;
  border-radius: 6px;
  padding: 2%;
  background-color: var(--cinza-escuro);
  color: var(--branco);
}

.modal div label svg {
  height: 60%;
  margin-top: 3%;
}

.modal div input {
  grid-area: buscar;
  background-color: var(--cinza-escuro);
  color: var(--branco);
  border-radius: 6px;
  border:none;
  padding: 2%;
}

.modal div .table {
  grid-area: tabela;
  background-color: var(--cinza-claro);
  border-radius: 6px;
}

.modal div {
grid-template-areas:
  '.      .      .      .      fechar'
  '.      texto  buscar buscar .'
  'tabela tabela tabela tabela tabela';
}

.modal.pagamentos div {
  grid-template-areas:
  '.      .      .      .      fechar'
  'tabela tabela tabela tabela tabela'
  'tabela tabela tabela tabela tabela';
}

.modal thead th, .modal tbody td {
  padding-left: 5%;
  width: auto;
  text-align: center;
}

.modal.clientes thead th:nth-child(2), .modal.clientes tbody td:nth-child(2) {
  width: 60%;
  text-align: left;
}

.modal.produtos thead th:nth-child(2), .modal.produtos tbody td:nth-child(2) {
  width: 40%;
  text-align: left;
}

.modal tbody button {
  width: 25%;
  margin-left: unset;
}

.modal tbody button.check svg {
    color: var(--verde);
}

.modal tbody button.unset svg {
  color: var(--laranja);
}

.tabela-produtos {
  width: 100%;
  height: 65vh;
  background-color: var(--cinza-claro);
  margin: 1vh 0;
  border: none;
  border-radius: 6px;
  text-align: center;
}

 table {
  width: 100%;
  max-height: 100%;
  color: var(--branco);
  border-collapse: collapse;
  border-spacing: 1;
}

 thead th {
  background-color: var(--cinza-escuro);
  font-weight: 400;
  height: 5vh;
  width: 12%;
}

.tabela-produtos thead th:nth-child(2) {
  text-align: left;
  width: 30%;
  padding-left: 5px;
}

.topo-tabela th {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}

tbody {
  overflow-y: scroll;
  width: 100%;
}

 tbody tr {
  border-bottom-color: var(--branco);
  border-bottom-style: groove;
  border-bottom-width: 1px;
}

 tbody td {
  font-weight: 400;
  height: 6vh;
  text-align: center;
}

.tabela-produtos tbody td:nth-child(2) {
  text-align: left;
  width: 30%;
  padding-left: 5px;
}

.tabela-produtos tbody td input {
  width: 70%;
  border-radius: 5px;
  border: none;
  background-color: var(--cinza-escuro);
  height: 55%;
  color: var(--branco);
  text-align: right;
  padding-right: 5px;
}

 tbody td button {
  height: auto;
  width: auto;
  background-color: var(--cinza-escuro);
  border: none;
  border-radius: 5px;
}

button:active {
  opacity: 0.8;
}

tbody td button svg {
  height: 20px;
  padding: 2px;
  color: var(--laranja);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.info {
  display: grid;
  grid-template-columns: 1fr 20% 30%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "cliente total botoes"
    "pagamento total botoes";
  column-gap: 25px;
  row-gap: 5px;
  width: 100%;
  height: 12vh;
  margin: 1vh 0;
}

.info h2 {
  background-color: var(--cinza-escuro);
  padding: 5px 20px;
  border-radius: 6px;
  font-size: 3vh;
  font-weight: 400;
  min-width: 25%;
}

.info span {
  font-size: 3vh;
  font-weight: 300;
  padding: 5px 20px;
}

.cliente,
.pagamento,
.total {
  display: flex;
  color: var(--branco);
  background-color: var(--cinza-claro);
  border-radius: 6px;
}

.cliente {
  grid-area: cliente;
}
.pagamento {
  grid-area: pagamento;
}
.total {
  grid-area: total;
  flex-direction: column;
  text-align: center;
}
.btn-sale {
  width: 100%;
  margin: unset;
  grid-area: botoes;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-sale button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vh;
  border: none;
  border-radius: 6px;
  height: 45%;
  width: 100%;
}

.btn-sale button:nth-child(1) {
  color: var(--branco);
  background-color: var(--cinza-escuro);
}

.btn-sale button:nth-child(2) {
  color: var(--preto);
  background-color: var(--verde);
}

.btn-sale svg {
  margin-left: 10px;
}
