#categorias{
  background-color: rgba( 8, 102, 59, 0.47);
  border-left-color: black;
}

#categorias a{
  color: #fff;
}

main header {
  grid-template-columns: 10% 1fr;
}

main header .header-conteudo {
  display: flex;
  padding-right: 5vw;
  justify-content: space-between;
}

.btnAcao{
  width: 10%;
}

.btnEditar{
  text-decoration: none;
  color: var(--branco);
  background-color: var(--cinza-claro);
  border-radius: 5px;
  border: none;
  height: 2vw;
  width: 4vw;
  cursor: pointer;
}

.btnDeletar{
  text-decoration: none;
  color: var(--laranja);
  background-color: var(--cinza-claro);
  border-radius: 5px;
  border: none;
  height: 2vw;
  width: 4vw;
  cursor: pointer;
}

.modal.mensagem div {
  background-color: var(--preto);
}

.modal.mensagem div:nth-child(1) {
  width: 25%;
  height: 25%;
  margin: 18.75% 37.5%;
}

.modal.mensagem div button {
  width: 20%;
  border: none;
  border-radius: 6px;
  color: var(--laranja);
  background-color: var(--cinza-escuro);
  margin-left: 80%;
}

.modal.mensagem div h3 {
  color: var(--branco);
  font-size: 22px;
  text-align: center;
  font-weight: 500;
  margin-top: 5%;
}
