@import "./global.css";

main {
  width: 75%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main.wide {
  width: 95%;
}

main .menu-toggle {
  color: var(--verde);
  height: 5%;
  width: auto;
  align-self: flex-start;
  justify-self: right;
  margin: 0;
}

main .content {
  height: 87.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .content .logo {
  height: auto;
  width: 35%;
  max-height: 40%;
}

main .content h1 {
  color: #fff;
  font-weight: 400;
  font-size: 4vw;
}

main .shortcuts {
  width: 90%;
  max-width: 70vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}

main .shortcuts button {
  height: 75%;
  width: 47.5%;
  color: var(--verde);
  border: 2px solid var(--verde);
  background-color: transparent;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.5vw;
}

.menu-toggle.disabled {
  visibility: hidden;
}

@media screen and (max-width: 900px) {
  main {
    width: 60%;
  }
  main .content h1 {
    font-size: 5vw;
    text-align: center;
  }
  main .shortcuts {
    flex-direction: column;
    height: 25%;
  }
  main .shortcuts button {
    width: 90%;
    margin-bottom: 5%;
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 600px) {
  main {
    width: 95%;
  }

  main .content h1 {
    font-size: 8vw;
  }

  main .shortcuts button {
    font-size: 4vw;
  }
}
