main .content {
  height: 87.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

main .content .logo {
  height: auto;
  width: 35%;
  max-height: 40%;
}

main .content h1 {
  color: var(--branco);
  font-weight: 400;
  font-size: 4vw;
  text-align: center;
}

main .shortcuts {
  width: 90%;
  max-width: 70vw;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  height: 20%;
  row-gap: 15%;
  column-gap: 2.5%;
}

main .shortcuts button {
  color: var(--verde);
  border: 2px solid var(--verde);
  background-color: transparent;
  border-radius: 25px;
  font-size: 1.5vw;
}
