@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

:root {
  --preto: #0a0e11;
  --verde: #19bf72;
  --branco: #e4f1eb;
  --cinza-escuro: #262b2d;
  --cinza-claro: #414748;
  --laranja: #f95738;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--preto);
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

main {
  width: 75vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main.wide {
  width: 95vw;
}

main header {
  display: grid;
  height: 5vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

main header .menu-toggle {
  color: #fff;
  height: 5vh;
  width: 10vw;
  margin: 0;
  justify-self: flex-start;
}

main header h1 {
  color: var(--verde);
  font-size: 4vh;
  font-weight: 400;
}

.menu-toggle {
  cursor: pointer;
}

.menu-toggle.disabled {
  visibility: hidden;
}

main .content {
  width: 95%;
}

@media screen and (max-width: 900px) {
  main {
    width: 60vw;
  }
}

@media screen and (max-width: 600px) {
  main {
    width: 95vw;
  }
}

/* atributos da tela de consulta */
/*HEADER*/
.botoesDireito{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  height: 3vw;
}

.btnAdd{
  background-color: var(--verde);
  text-decoration: none;
  color: var(--preto);
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 80%;
  padding-left: 1%;
  margin-right: 1.5%;
}

.pesquisar{
  display: flex;
  justify-content: center;
  height: 80%;
  border-radius: 5px;
  background-color: var(--cinza-escuro);
}

.pesquisar input{
  background-color: var(--cinza-escuro);
  border: 0;
  color: var(--branco);
  font-size: 1rem;
  padding-left: 2%;
  border-radius: 5px;
}

.pesquisar button{
  background-color: var(--cinza-escuro);
  border: 0;
  color: var(--branco);
  padding: 0 5px;
  border-radius: 5px;
}

/*BODY*/
.tabela-consulta{
  width: 100%;
  max-width: 100%;
  color: var(--branco);
  margin-top: 2%;
  border-collapse: collapse;
  border-spacing: 1;
  text-align: center;
  overflow-y: scroll;
}

.tabela-consulta thead tr{
  font-weight: 400;
  height: 5vh;
  width: 12%;
}

.tabela-consulta tbody{
  overflow-y: scroll;
}

.tabela-consulta tbody td{
  font-weight: 400;
  height: 4vw;
  text-align: center;
  background-color: var(--cinza-escuro);
  border: 5px solid var(--preto);
  border-style: solid none;
}

.tabela-consulta tbody td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.tabela-consulta tbody td:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
