@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root{
  --preto: #0D1117;
  --verde: #19BF72;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--preto);
}

.container{
  font-family: 'Roboto', sans-serif;
  background-color: var(--preto);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo{
  width: 20%;
  background-color: #0D1117;
}

#titulo{
  background-color: var(--preto);
  color: var(--verde);
  font-weight: 500;
  font-size: 100px;
}

.blocologin{
  width: 501px;
  height: 76px;
  background: #202327;
  border-radius: 14px;
}

.btnEnter{
  background-color: var(--verde);
  outline: 0;
  border: 0;
}

