#produtos{
  background-color: rgba( 8, 102, 59, 0.47);
  border-left-color: black;
}

#produtos a{
  color: #fff;
}

main header {
  grid-template-columns: 10% 1fr;
}

main header .header-conteudo {
  display: flex;
  padding-right: 5vw;
  justify-content: space-between;
}

.abrir-modal{
  color: var(--branco);
  background-color: var(--cinza-claro);
  border-radius: 5px;
  border: none;
  height: 2vw;
  width: 2.5vw;
  cursor: pointer;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: #0008;
}

.fechar-modal{
  background-color: var(--cinza-claro);
  color: var(--laranja);
  border: none;
  border-radius: 5px;
  position: absolute;
  right: 0;
}

.modal.disabled {
  display: none;
  opacity: 0;
}

.produto{
  background-color: var(--preto);
  width: 50%;
  margin: 12.5% 25%;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.conteudoProduto{
  color: var(--branco);
  padding: 2%;
}

.conteudoProduto h2{
  color: var(--verde);
}

.info{
  color: var(--branco);
  width: 100%;
}

.info th{
  background-color: var(--cinza-escuro);
  text-align: start;
  width: 30%;
  padding: 3px;
  font-weight: 400;
}

.info td{
  background-color: var(--cinza-claro);
  padding: 3px;
}

.botoesModal{
  width: 100%;
  display: flex;
}

.btnEditar{
  background-color: var(--verde);
  color: var(--preto);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  height: 40px;
  margin: auto;
  padding-left: 10px;
  font-weight: 500;
  width: 30%;
}

.btnDeletar{
  background-color: var(--laranja);
  color: var(--preto);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  height: 40px;
  margin: auto;
  padding-left: 10px;
  font-weight: 500;
  width: 30%;
}

.modal.mensagem div {
  background-color: var(--preto);
}

.modal.mensagem div:nth-child(1) {
  width: 25%;
  height: 25%;
  margin: 18.75% 37.5%;
}

.modal.mensagem div button {
  width: 20%;
  border: none;
  border-radius: 6px;
  color: var(--laranja);
  background-color: var(--cinza-escuro);
  margin-left: 80%;
}

.modal.mensagem div h3 {
  color: var(--branco);
  font-size: 22px;
  text-align: center;
  font-weight: 500;
  margin-top: 5%;
}
