@import './global.css';

#produtos{
  background-color: rgba( 8, 102, 59, 0.47);
  border-left-color: black;
}

#produtos a{
  color: #fff;
}

main header {
  grid-template-columns: 10% 1fr;
}

main header .header-conteudo {
  display: flex;
  padding-right: 5vw;
  justify-content: space-between;
}

.abrir-modal{
  color: var(--branco);
  background-color: var(--cinza-claro);
  border-radius: 5px;
  border: none;
  height: 2vw;
  width: 2.5vw;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: #0008;
}

.fechar-modal{
  background-color: var(--cinza-claro);
  color: var(--laranja);
  border: none;
  border-radius: 5px;
  position: absolute;
  right: 0;
}

.modal.disabled {
  display: none;
  opacity: 0;
}

.produto{
  background-color: var(--preto);
  width: 50%;
  margin: 12.5% 25%;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  position: relative;
}
