@import './global.css';

#vendas{
  background-color: rgba( 8, 102, 59, 0.47);
  border-left-color: black;
}

#vendas a{
  color: #fff;
}

main header {
  grid-template-columns: 10% 1fr;
}

main header .header-conteudo {
  display: flex;
  padding-right: 5vw;
  justify-content: space-between;
}

.btnAddVenda{
  background-color: var(--verde);
  text-decoration: none;
  color: var(--preto);
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 80%;
  padding-left: 1%;
  margin-right: 1.5%;
}

.pesquisar{
  display: flex;
  justify-content: center;
  height: 80%;
  border-radius: 5px;
  background-color: var(--cinza-escuro);
}

.pesquisar input{
  background-color: var(--cinza-escuro);
  border: 0;
  color: var(--branco);
  font-size: 1rem;
  padding-left: 2%;
  border-radius: 5px;
}

.pesquisar button{
  background-color: var(--cinza-escuro);
  border: 0;
  color: var(--branco);
  padding: 0 5px;
  border-radius: 5px;
}

.botoesDireito{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

.tabela-vendas{
  width: 100%;
  max-width: 100%;
  color: var(--branco);
  margin-top: 2%;
  border-collapse: collapse;
  border-spacing: 1;
  text-align: center;
}

.tabela-vendas thead tr{
  font-weight: 400;
  height: 5vh;
  width: 12%;
}

.tabela-vendas tbody{
  overflow-y: scroll;
}

.tabela-vendas tbody tr{
  border-radius: 5px;
}

.tabela-vendas tbody td{
  font-weight: 400;
  height: 6vh;
  text-align: center;
  background-color: var(--cinza-escuro);
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
}

.modal>div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 15px 20px;
  background: #fff;
}
